
<h2>You Searched For: <%=  @ingredient %></h2>
<% @response["matches"][0].each do |show|%>
      <%= show%>
<%end%>
<hr>
<hr>
<hr>

  <% @response["matches"].each do |response| %>
  <div class="card">


    <div class="card-image waves-effect waves-block waves-light">
      <% @image = response["smallImageUrls"][0]%>
      <img class="activator" src=<%= @image %> >
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Title: <i class="material-icons right">More Info</i><%= response["recipeName"] %></span>
      <p> <% @url_for_source = "http://www.yummly.com/recipe/#{response["id"]}"%>
          <%= link_to "Link to Recipe", "http://www.yummly.com/recipe/#{response["id"]}", :target => "_blank" %></p>
    </div>
    <div class="card-action">
      <p id="savebttn"><%= link_to "Save Recipe", {action: :create, ingredient_of_the_day: @ingredient, user_id: current_user.id, imageURLsBySize: @image, recipeName: response["recipeName"], ingredients:  response["ingredients"].join(", "), rating: response["rating"], sourceRecipeUrl:  @url_for_source}, method: :post %></p>
            <a id="deletebttn" href="#">Delete</a>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= response["recipeName"] %><i class="material-icons right">close</i></span>

      <h3 class="card-text">
        <strong>Rating: </strong><%= response["rating"] %>

        <br>

        <% @time = response["totalTimeInSeconds"]/60%>
        <% puts "CHECK HERER ALLO ", @time%>
        <strong>Cooking Time: </strong><%=  @time %> min

        <br>

        <strong>Ingredients: </strong>
        <% response["ingredients"].each do |ing|%><br>
        </li><%= ing %></li>
        <%end%>

      </h3>

    </div>



</div> <br>
<%end%>
