
<h4>You Searched For: <%=  @ingredient %></h4>

<hr>

<div class="row">

  <% @response["matches"].each_with_index do |response, i| %>
      <%=  puts i %>



  <div style="display:<%= i>=1 ? 'none' : 'block' %>" class="card">

    <div class="card-image waves-effect waves-block waves-light">
      <% @image = response["smallImageUrls"][0]%>
      <img class="activator" src=<%= @image %> >
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Title: <i class="material-icons right">More Info</i><%= response["recipeName"] %></span>
      <p> <% @url_for_source = "http://www.yummly.com/recipe/#{response["id"]}"%>
          <%= link_to "Link to Recipe", "http://www.yummly.com/recipe/#{response["id"]}", :target => "_blank" %></p>
    </div>
    <div class="card-action">

      <p id="savebttn">


      <%= link_to "Save Recipe", {action: :create, ingredient_of_the_day: @ingredient, user_id: current_user.id, imageURLsBySize: @image, recipeName: @title, ingredients:  @ingredients , rating: @rate, sourceRecipeUrl:  @url_for_source}, method: :post, remote: true, class: 'savebbttn' %>
        </p>
      <a class="deletebttn" href="">Next</a>



    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <% @title = response["recipeName"]   %>
      <%= @title %>
      <i class="material-icons right">X</i></span>

      <p class="card-text">
        <strong>Rating: </strong>
        <% @rate = response["rating"]  %>
        <%= @rate %>
        <br>
        <% if response['totalTimeInSeconds'] != nil %>
            <% @time = response["totalTimeInSeconds"]/60%>

            <strong>Cooking Time: </strong><%=  @time %> min
        <% else %>
            <%= "undefined" %>
        <%end  %>
        <br>
        <strong>Ingredients: </strong>
        <% @ingredients = response["ingredients"].join(', ') %>
        <% response["ingredients"].each do |ing|%><br>
        </li><%= ing %></li>
        <%end%>


      </p>


    </div>
    </div> <br>
<%end%>




</div>
