<h3>Name:</h3><%= @user.first_name%> <%= @user.last_name%>
<br>
<h3>Allergies:</h3><%= @user.allergies%>
<br>
<h3>Email:</h3><%=@user.email%>
<br>
<h3><%= image_tag @user.image.url %></h3>

<h3> <%= link_to "Edit Profile", edit_user_registration_path %></h3>

<h3>Recipe List:</h3><%= @recipe.all %>
