<h5>Name:</h5><%= @user.first_name%> <%= @user.last_name%>
<br>
<% @allergy = @user.allergies%>
<% @exclude_response = @user.allergies%>
<% @allergy = @user.allergies%>
<h5>Allergies:</h5><%= @user.allergies%>

<br>
<h5>Email:</h5><%=@user.email%>
<br>
<h5><%= image_tag @user.avatar.url %></h5>

<h4><%= link_to "Edit Profile", edit_user_registration_path %></h4>

<h5>Recipe List:</h5><%= @recipe.all %>
