<h3>Name:</h3><%= @user.first_name%> <%= @user.last_name%>
<br>
<h3>Favorite Protein:</h3><%= @user.favorite_protein%>
<br>
<h3>Favorite Vegetables:</h3><%= @user.favorite_vegetables%>
<br>
<h3>Allergies:</h3><%= @user.allergies%>
<br>
<h3>Email:</h3><%=@user.email%>
