<hr>
<div class="user-info-div">
  <div class="newprofile container">
    <div class="row">
      <div class="col s6 offset-s3">

        <h4>Name:</h4><%= @user.first_name%> <%= @user.last_name%>
        <br><hr>

        <% @allergy = @user.allergies%>
        <% @exclude_response = @user.allergies%>
        <% @allergy = @user.allergies%>
        <h4>Allergies:</h4><%= @user.allergies%>
        <br><hr>

        <h4>Email:</h4><%=@user.email%>
        <br><hr>

        <h4><%= image_tag @user.avatar.url %></h4>
        <hr>
        <h4><%= link_to "Edit Profile", edit_user_registration_path %></h4>


      </div>
    </div>
  </div>
</div>
